:root {

  --dark-cyan: #4D96A9;
  --dark-violet: #855FB1;
  --dark-gray: #28283D;
  --light-gray: #87879D;
  --light-cyan: #8FE3F9;
  --light-violet: #D9B8FF;
  --white: #FAFAFA;


}

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
}

main {
  display: flex;
  width: 90%;
  max-width: 90rem;
  background-color: var(--white);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}